@import "navbar.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

body {
    background: red;
}